<% provide(:title, 'Mon profile') %>

<h1>Users#secret</h1>
<p>Find me in app/views/users/secret.html.erb</p>
 <a class="dropdown-item" href="<%= edit_user_registration_path %>">Editer mon infos de connextion</a>