<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @event.admin.first_name %> !</h1>
    <p>
      T'as une nouvelle inscription sur ton event <%= @event.title %> !
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur monsitedemerde.fr !
  </body>
</html>