<footer class="container-fluid d-flex justify-content-between text-center fixed-bottom">
 <a class="text-muted" href="#">Back to top</a>
 <span class="text-muted">Made with love <i class="fab fa-angellist"></i> in Lyon</span>
</footer>